@charset "utf-8";

/* cssリセット */

/*利用するタグによってこちらの内容は増やす*/

html,
body,
h1,
h2,
h3,
p,
dl,
dt,
dd,
ul,
li {
  margin: 0;
  padding: 0;
  line-height: 1;
  /*デフォルトの文字色、font-familyを予め当てておく*/
  color: #4f260b;
  /* font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", */
  /* "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif; */
  font-family: "游明朝", YuMincho, "Hiragino Mincho ProN W3",
    "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝",
    "ＭＳ 明朝", serif;
  font-feature-settings: "palt";
}

a {
  /*下線を消す*/
  text-decoration: none;
  /*色を消す*/
  color: inherit;
}

ul {
  /*左の「・」を消す*/
  list-style: none;
}

img {
  max-width: 100%;
  vertical-align: bottom;
  border: none;
}

html {
  scroll-behavior: smooth;
}

/* ヘッダー */
body {
  background: #e8d9bf;
}

header {
  position: relative;
}

.header_wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 7% 0 3%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
}

#header_logo {
  width: 226px;
}

.pc_nav ul {
  display: flex;
  gap: 55px;
}

.pc_nav ul li {
  width: 105px;
  color: #fff;
  font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ",
    "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}

/* スマホ版メニュー */
.sp_nav,
.sp_btn {
  display: none;
}

@media screen and (max-width: 1100px) {
  .pc_nav {
    display: none;
  }
  .sp_btn {
    display: block;
    height: 23px;
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 25px;
    z-index: 2;
  }
  .sp_btn span {
    display: block;
    width: 33px;
    height: 3px;
    background: #fff;
    border-radius: 2px;
    position: relative;
    top: 10px;
    transition: 0.3s;
  }
  .sp_btn span::before,
  .sp_btn span::after {
    content: "";
    display: block;
    width: 33px;
    height: 3px;
    background: #fff;
    border-radius: 2px;
    position: absolute;
    transition: 0.3s;
  }

  .sp_btn span::before {
    bottom: 10px;
  }

  .sp_btn span::after {
    top: 10px;
  }

  .sp_btn.open span {
    background: transparent;
  }

  .sp_btn.open span::before {
    bottom: 0;
    transform: rotate(45deg);
  }

  .sp_btn.open span::after {
    top: 0;
    transform: rotate(-45deg);
  }

  /* SP版メニュー */
  .sp_nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.8);
    z-index: 1;
  }

  .sp_nav ul {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: center;
  }

  .sp_nav ul li {
    color: #fff;
    padding: 20px;
    font-size: 18px;
    font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ",
      "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;
    font-weight: bold;
  }
}

#sp_lead {
  display: none;
}

#pc_lead {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-right: 10%;
  padding-left: 10%;
}

.p1 {
  font-size: 30px;
  margin: 103px 0 46px 0;
}

.p2 {
  font-size: 82px;
  line-height: 1.17;
  letter-spacing: 0.1em;
}

.p3 {
  font-size: 23px;
  line-height: 1.65;
  margin: 46px 0 0 0;
  letter-spacing: 0.1em;
}

/* sp版lead */
@media screen and (max-width: 767px) {
  #pc_lead {
    display: none;
  }

  #sp_lead {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-right: 0;
    padding-left: 0;
  }

  .p1 {
    font-size: 17px;
    margin: 41px 0 22px;
  }

  .p2 {
    font-size: 38px;
    line-height: 1.15;
    letter-spacing: 0.02em;
  }

  .p3 {
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.1em;
    margin: 26px 0 0;
  }
}

#about_us {
  display: flex;
  max-width: 1000px;
  margin: 93px auto 0;
  justify-content: space-between;
  padding: 0 10px;
  align-items: flex-start;
}

.about_us_img {
  width: 50%;
  border-radius: 0 0 82px 0;
  overflow: hidden;
}

.heading {
  width: 41%;
}

.heading_logo {
  width: 272px;
  padding: 51px 0 47px 0;
}

.p4 {
  font-size: 44px;
  line-height: 1.4;
  padding-bottom: 20px;
}

.p5 {
  font-size: 16px;
  line-height: 1.6;
}
@media screen and (max-width: 1100px) {
  .p1 {
    font-size: 17px;
  }
  .p2 {
    font-size: 57px;
  }
  .p3 {
    font-size: 16px;
  }
  .p4 {
    font-size: 38px;
  }
  .p5 {
    font-size: 14px;
  }
}

@media screen and (max-width: 767px) {
  #about_us {
    flex-direction: column;
    margin: 45px 0;
    padding: 0 0;
  }

  .about_us_img {
    order: 2;
    width: 100%;
    border-radius: 0;
  }

  .heading {
    display: contents;
  }

  .heading_logo {
    order: 1;
    width: 160px;
    margin: 0 auto;
    padding: 0 0 17px;
  }

  .p4 {
    order: 3;
    padding: 35px 20px 32px;
    font-size: 36px;
  }

  .p5 {
    order: 4;
    font-size: 16px;
    line-height: 1.75;
    padding: 0 20px;
  }
}

#menu {
  max-width: 1000px;
  margin: 93px auto 0;
  padding: 0 10px;
}

.menu_logo {
  width: 151px;
  margin: 0 auto;
}

.menu_list {
  display: flex;
  margin: 37px 0 0;
}

.card + .card {
  margin-left: 50px;
}

.card {
  width: 30%;
  border-radius: 0 41px 0 0;
  overflow: hidden;
}

.card-img {
  position: relative;
}

.card-title {
  font-size: 38px;
  color: #d30202;
  position: absolute;
  top: 93%;
  left: 4%;
}

.card-text {
  font-size: 17px;
  line-height: 1.4;
  margin: 44px 0 0;
}

@media screen and (max-width: 767px) {
  #menu {
    max-width: 300px;
    margin: 52px auto 88px;
  }

  .menu_logo {
    width: 87px;
  }

  .menu_list {
    display: block;
  }

  .card + .card {
    margin-left: auto;
    margin-top: 60px;
  }

  .card {
    margin: 0 auto;
    width: 300px;
  }
}

#gallery {
  margin: 87px auto 0;
}

.gallery_logo {
  width: 245px;
  margin: 0 auto 16px;
}

.sp_gallery_slider {
  display: none;
}

.pc_gallery_photo {
  margin: 16px 0 0;
  display: flex;
  overflow: hidden;
}

.slick-initialized .slick-slide {
  display: flex;
}

.pc_gallery_slider .slick-prev {
  z-index: 100;
  left: 415px;
}

.pc_gallery_slider .slick-next {
  right: 415px;
}

.pc_gallery_slider .slick-prev:before {
  content: "";
  display: block;
  width: 38px;
  height: 38px;
  border-top: 5px solid #fff;
  border-left: 5px solid #fff;
  transform: rotate(-45deg);
}

.pc_gallery_slider .slick-next:before {
  content: "";
  display: block;
  width: 38px;
  height: 38px;
  border-top: 5px solid #fff;
  border-right: 5px solid #fff;
  transform: rotate(45deg);
}

.slick-dotted.slick-slider {
  margin-bottom: 0px;
  max-width: 100%;
  overflow: hidden;
}

/* .slick-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
} */

@media screen and (max-width: 767px) {
  .pc_gallery_slider {
    display: none;
  }

  .sp_gallery_slider {
    display: block;
    text-align: center;
  }

  .gallery_logo {
    width: 142px;
  }

  .sp_gallery_photo {
    display: block;
  }

  .sp_gallery_img {
    width: 384px;
    height: 300px;
  }

  .slick-initialized .slick-slide {
    display: block;
  }

  .sp_gallery_slider .slick-next {
    right: 20px;
  }

  .sp_gallery_slider .slick-prev {
    z-index: 100;
    left: 20px;
  }

  .sp_gallery_slider .slick-prev:before {
    content: "";
    display: block;
    width: 22px;
    height: 22px;
    border-top: 2px solid #fff;
    border-left: 2px solid #fff;
    transform: rotate(-45deg);
  }

  .sp_gallery_slider .slick-next:before {
    content: "";
    display: block;
    width: 22px;
    height: 22px;
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
    transform: rotate(45deg);
  }
}

#event {
  margin: 56px auto 29px;
  padding: 0 10px;
}

.event_logo {
  width: 173px;
  margin: 0 auto 29px;
}

.event-list {
  max-width: 1000px;
  /* height: 200px; */
  background: #fff;
  border: 4px solid;
  border-color: #4f260b;
  margin: 0 auto;
  padding: 37px 0;
}

.event-list ul {
  font-size: 23px;
  /* padding: 37px 158px 0; */
  flex-direction: column;
  width: fit-content;
  margin: 0 auto;
}

.event-list li + li {
  padding-top: 22px;
}

.event-text {
  border-bottom: 1px solid #4f260b;
}

.date {
  padding-bottom: 21px;
  padding-right: 54px;
}

@media screen and (max-width: 767px) {
  .event_logo {
    width: 100px;
    margin: 0 auto 21px;
  }

  .event-list {
    max-width: 335px;
    background: #fff;
    border: 3px solid;
    border-color: #4f260b;
    margin: 0 auto;
    padding: 20px 11px 20px 20px;
  }

  .event-list ul {
    font-size: 16px;
  }

  .event-list li + li {
    padding-top: 27px;
  }

  .event-list ul li .event-text {
    max-width: 328px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    border-bottom: 1px solid #4f260b;
    display: inline-block;
  }
}

#access {
  margin: 66px auto 0;
}

.access_logo {
  width: 214px;
  margin: 0 auto 35px;
}

iframe {
  display: block;
  width: 100%;
  height: 470px;
}

@media screen and (max-width: 767px) {
  #access {
    margin: 26px 0 0;
  }

  .access_logo {
    width: 124px;
    margin: 0 auto 10px;
  }

  iframe {
    display: block;
    height: 191px;
  }
}

footer {
  background: #fff;
  padding: 75px 10px 0;
  position: relative;
}

.design_cafe_logo {
  width: 226px;
  padding: 0 63px 0 0;
}

.footer_container {
  display: flex;
  max-width: 1000px;
  margin: 0 auto;
}

.footer_inf li {
  font-size: 20px;
  padding-bottom: 20px;
}

.credit {
  font-size: 16px;
  text-align: center;
  padding: 60px 0 80px;
}

@media screen and (max-width: 767px) {
  footer {
    padding: 40px 0 0;
  }
  .footer_container {
    display: block;
    padding: 0 0 0 20px;
  }

  .footer_inf {
    margin: 34px 0 0;
  }

  .footer_inf li {
    font-size: 18px;
  }

  .credit {
    /* font-size: 16px;
    text-align: center; */
    padding: 47px 0 33px;
  }
}

.page_top {
  width: 125px;
  position: fixed;
  bottom: 40px;
  right: 40px;
}

@media screen and (max-width: 767px) {
  .page_top {
    width: 100px;
    position: fixed;
    bottom: 205px;
    right: 12px;
  }
}

.slick-dots {
  bottom: 20px;
}

.slick-dots li button:before,
.slick-dots li.slick-active button:before {
  color: #fff;
}
