@charset "utf-8";

/**1、work2pcのレイアウトを作ってみる。
幅960px 背景色#eeeeee */

.body {
  max-width: 960px;
  justify-content: space-between;
  text-align: center;
  background-color: #eeeeee;
}

.container {
  max-width: 100%;
  margin: 50px auto;
  text-align: center;
  font-size: x-large;
  font-weight: bold;
  color: rgb(40, 132, 134);
}

.box {
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.card {
  max-width: 330px;
  margin: 20px;
  padding: 15px;
  background-color: #ffffff;
}

.card-img {
  width: 330px;
  margin: 0 0 5px 0;
  height: auto;
  background-size: cover;
  background: #ffffff;
}

.card-content {
  flex-wrap: wrap;
  background: #ffffff;
}

.card-title {
  padding: 0 0 0 5px;
  border-left: solid 13px rgb(40, 132, 134);
  font-size: x-large;
  font-weight: bold;
  color: rgb(40, 132, 134);
  background: #ffffff;
}

.card-text {
  width: 330px;
  flex-wrap: wrap;
  background: #ffffff;
}

/*2、400px以下で縦に並べる。（work2pcのレイアウトに変更）
画像が330pxしかないのでwidth:100%で無理やり広げてください。 */

@media screen and (max-width: 400px) {
  body {
    flex-direction: column;
  }
}
.card {
  width: 100%;
  margin: 0;
}
