@charset "utf-8";

/* cssリセット */

/*利用するタグによってこちらの内容は増やす*/

html,
body,
h1,
h2,
h3,
p,
dl,
dt,
dd,
ul,
li {
  margin: 0;
  padding: 0;
  line-height: 1;
  /*デフォルトの文字色、font-familyを予め当てておく*/
  color: #4f260b;
  /* font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", */
  /* "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif; */
  font-family: "游明朝", YuMincho, "Hiragino Mincho ProN W3",
    "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝",
    "ＭＳ 明朝", serif;
  font-feature-settings: "palt";
}

a {
  /*下線を消す*/
  text-decoration: none;
  /*色を消す*/
  color: inherit;
}

ul {
  /*左の「・」を消す*/
  list-style: none;
}

img {
  max-width: 100%;
  vertical-align: bottom;
  border: none;
}

html {
  scroll-behavior: smooth;
}

/* ヘッダー */
body {
  background: #e8d9bf;
}

header {
  position: relative;
}

.header_wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 7% 0 3%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
}

#header_logo {
  width: 226px;
}

.pc_nav ul {
  display: flex;
  gap: 55px;
}

.pc_nav ul li {
  width: 105px;
  color: #fff;
  font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ",
    "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}

#lead {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-right: 10%;
  padding-left: 10%;
}

.p1 {
  font-size: 30px;
  margin: 103px 0 46px 0;
}

.p2 {
  font-size: 82px;
  line-height: 1.17;
  letter-spacing: 0.1em;
}

.p3 {
  font-size: 23px;
  line-height: 1.65;
  margin: 46px 0 0 0;
  letter-spacing: 0.1em;
}

#about_us {
  display: flex;
  max-width: 1000px;
  margin: 93px auto 0;
  justify-content: space-between;
  padding: 0 10px;
}

.about_us_img {
  width: 50%;
  border-radius: 0 0 82px 0;
  overflow: hidden;
}

.heading {
  width: 41%;
}

.heading_logo {
  width: 272px;
  padding: 51px 0 47px 0;
}

.p4 {
  font-size: 44px;
  line-height: 1.4;
  padding-bottom: 20px;
}

.p5 {
  font-size: 16px;
  line-height: 1.6;
}

#menu {
  max-width: 1000px;
  margin: 93px auto 0;
  padding: 0 10px;
}

.menu_logo {
  width: 151px;
  margin: 0 auto;
}

.menu_list {
  display: flex;
  margin: 37px 0 0;
}

.card + .card {
  margin-left: 50px;
}

.card {
  width: 30%;
  border-radius: 0 41px 0 0;
  overflow: hidden;
}

.card-img {
  position: relative;
}

.card-title {
  font-size: 38px;
  color: #d30202;
  position: absolute;
  top: 93%;
  left: 4%;
}

.card-text {
  font-size: 17px;
  line-height: 1.4;
  margin: 44px 0 0;
}

#gallery {
  margin: 87px auto 0;
}

.gallery_logo {
  width: 245px;
  margin: 0 auto;
}

.gallery_photo {
  display: flex;
  margin: 16px 0 0;
}

#event {
  margin: 56px auto 29px;
  padding: 0 10px;
}

.event_logo {
  width: 173px;
  margin: 0 auto 29px;
}

.event-list {
  max-width: 1000px;
  /* height: 200px; */
  background: #fff;
  border: 4px solid;
  border-color: #4f260b;
  margin: 0 auto;
  padding: 37px 0;
}

.event-list ul {
  font-size: 23px;
  /* padding: 37px 158px 0; */
  flex-direction: column;
  width: fit-content;
  margin: 0 auto;
}

.event-list li + li {
  padding-top: 22px;
}

.event-text {
  border-bottom: 1px solid #4f260b;
}

.date {
  padding-bottom: 21px;
  padding-right: 54px;
}

iframe {
  display: block;
  width: 100%;
  height: 470px;
}

#access {
  margin: 66px auto 0;
}

.access_logo {
  width: 214px;
  margin: 0 auto 35px;
}

footer {
  background: #fff;
  padding: 75px 10px 0;
  position: relative;
}

.design_cafe_logo {
  width: 226px;
  padding: 0 63px 0 0;
}

.footer_container {
  display: flex;
  max-width: 1000px;
  margin: 0 auto;
}

.footer_inf li {
  font-size: 20px;
  padding-bottom: 20px;
}

.credit {
  font-size: 16px;
  text-align: center;
  padding: 60px 0 80px;
}

.page_top {
  width: 125px;
  position: absolute;
  top: 40px;
  right: 40px;
}
